<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Applicazione ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("EpiTruck", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Attiva/Disattiva spostamento" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Informazioni", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Contatti", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Utenti Registrati", "ElencoUtenti", "Utente", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Spedizioni", "ElencoSpedizioni", "Spedizioni", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
                <div>
                    <ul class="navbar-nav flex-grow-1">
                        <li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                using (Html.BeginForm("Logout", "Login"))
                                {
                                    @Html.AntiForgeryToken()
                                    <button class="nav-link btn btn-dark p-0">Logout</button>
                                }
                            }
                            else
                            {
                        <div class="d-flex">
                            @Html.ActionLink("Accedi", "Index", "Login", new { area = "" }, new { @class = "nav-link btn btn-dark  my-md-0 mx-md-2 p-0" })
                            @Html.ActionLink("Registrati", "RegisterChoice", "Login", new { area = "" }, new { @class = "nav-link btn btn-dark my-md-0 mx-md-0 p-0" })
                        </div>
                            }
                        </li>

                    </ul>
                </div>

            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="container">
                <p>&copy; @DateTime.Now.Year - Agenzia Trasporti EpiTruck</p>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#">Termini e Condizioni</a></li>
                    <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                    <li class="list-inline-item"><a href="#">Contattaci</a></li>
                </ul>
            </div>
        </footer>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
